body{
    background-color: darkgoldenrod;
    }
    p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    }
    h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 0.2rem;
    }
    